################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/AddressSplitForExcel/obj/Debug
/AddressSplit.UnitTest/obj/Debug
/AddressSplit.UnitTest/bin/Debug
/AddressSplitForExcel/bin/Debug
/AddressSplit.UnitTest/obj/Release
/AddressSplitForExcel/bin/Release
/AddressSplitForExcel/obj/Release
